SourceCode/bin
SourceCode/obj

SBCameraScroll/AssetBundles
SBCameraScroll/levels
SBCameraScroll/world

AssetBundles
levels
world

SBCameraScroll/plugins/SBCameraScroll.dll
SBCameraScroll.zip
steam_description.txt

.vscode