
.git/

ModdedShaders/*_backup.shader
SourceCode/bin
SourceCode/obj

levels
world

# SBCameraScroll/AssetBundles/
SBCameraScroll/levels
SBCameraScroll/world
SBCameraScroll/plugins/
SBCameraScroll/previously_active_mods.json

SBCameraScroll.zip
steam_description.txt

**/*.meta
**/*.manifest
.vscode

# windows_build.ps1
# windows_zip_mod_files.ps1
tags
